html {
    font-size: 62.5%;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 900;
    font-size: 4rem;
    letter-spacing: .2rem;
    transform: translate();
 
}

body{
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(33,33,33) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    font-family: 'Press Start 2P', cursive;

}

.full{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

main{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #9a9c9c;
    border-radius: 33px;
    box-shadow:  5px 5px 10px #848484,
    -5px -5px 10px #ffffff;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
}

.result{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section div{
    border: 1px solid transparent;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: auto;

}

.slot{
    border-radius: 33px;


}

.mainSelector{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    height: auto;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

[class^="row"]{
    margin: 1rem 0;
    height: 5.2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    

}
[class^="checkbox"]{
    height: 5.2rem;
    display: flex;
    align-items: center;
    gap: .5rem;

}
[class^="checkbox"] div{
    height: 1.5rem;
    width: 1.5rem;
}


.btn{
    border: none;
    padding: 1.5rem;
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: 900;
    width: 9rem;
    height: 9rem;
    cursor: pointer;
}



.group-btn{
    width: 100%;
}

.reset-game {
    background-image: url(../../assets/restart-button.png);
    background-size: cover;
}

.check{
    background-image: url(../../assets/check-button.png);
    background-size: cover;
}
.modal { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  transition: all 0.35s ease-in;
  background-color: rgba(0, 0, 0, 0.500);
 
}

.white{
    background-color: white;
}
.grey{
    background-color: grey;
}
.black{
    background-color: black;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background-image: image();
  overflow: auto;
  cursor: default;
  z-index: 100;
  color: white;
  padding: 100px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  border: 3px dotted white;
  
}

.appear {
    display: flex;
}

#exit-button {
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    background-color: rgb(145, 10, 10);
    color: white;
    border: 1px solid white;
}

#level-button {
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    background-color: rgb(192, 192, 192);
}

.modal, .modal2 { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.35s ease-in;
    background-color: rgba(0, 0, 0, 0.500);
   
    
  
  }
  
  .you-win {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background-image: url(../../assets/you-win.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    cursor: default;
    z-index: 100;
    color: rgb(255, 0, 43);
    padding: 100px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 3px dotted white;
    
  }
  
  .you-lose {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background-image: url(../../assets/loser.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    cursor: default;
    z-index: 100;
    color: rgb(255, 0, 43);
    padding: 100px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 3px dotted white;
    
  }
  
  .appear {
      display: flex;
  }
  
  #exit-button-win {
      border-radius: 10px;
      font-family: 'Press Start 2P', cursive;
      padding: 5px;
      background-color: rgb(145, 10, 10);
      color: white;
      border: 1px solid white;
  }
  
  #exit-button-lose {
      border-radius: 10px;
      font-family: 'Press Start 2P', cursive;
      padding: 5px;
      background-color: rgb(145, 10, 10);
      color: white;
      border: 1px solid white;
  }
  
  #level-button {
      border-radius: 10px;
      font-family: 'Press Start 2P', cursive;
      padding: 5px;
      background-color: rgb(192, 192, 192);
  }

  