html {
    font-size: 62.5%;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 900;
    font-size: 4rem;
    letter-spacing: .2rem;
    transform: translate();
 
}

body{
    background: #bdc3c7;
    font-family: 'Press Start 2P', cursive;

}

.full{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

main{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #9a9c9c;
    border-radius: 33px;
    box-shadow:  5px 5px 10px #848484,
    -5px -5px 10px #ffffff;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
}

.result{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section div{
    border: 1px solid transparent;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: auto;

}

.slot{
    border-radius: 33px;
    background: linear-gradient(145deg, #cacaca46, #f0f0f025);
    box-shadow:  5px 5px 0px #a4a4a4,
    -5px -5px 0px #ffffff;

}

.mainSelector{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    height: auto;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.select{
    border: 1px solid black;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
[class^="row"]{
    margin: 1rem 0;
    height: 5.2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    

}
[class^="checkbox"]{
    height: 5.2rem;
    display: flex;
    align-items: center;
    gap: .5rem;

}
[class^="checkbox"] div{
    height: 1.5rem;
    width: 1.5rem;
}


.red{
    background-color: rgba(255, 0, 0, 0.733);
    

}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow
}
.blue{

    background-color: blue
}
.orange{

    background-color: orange
}
.pink{
    background-color: pink;
}

.black{
    background-color: black;
}
.grey{
    background-color: grey;
}
.white{
    background-color: whitesmoke;
}

.btn{
    height: 2rem;
    border: none;
    padding: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    width: 11rem;
    height: 5rem;
}

.androidSelector{
    display: none;
}

.group-btn{
    width: 100%;
}

.reset-game {
    background-color: cyan;
}
.modal { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  transition: all 0.35s ease-in;
  background-color: rgba(0, 0, 0, 0.500);
 
  

}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background-image: image();
  overflow: auto;
  cursor: default;
  z-index: 100;
  color: white;
  padding: 100px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  border: 3px dotted white;
  
}

.appear {
    display: flex;
}

#exit-button {
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    background-color: rgb(145, 10, 10);
    color: white;
    border: 1px solid white;
}

#level-button {
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    background-color: rgb(192, 192, 192);
}