body{
  margin: 0;
}
.big-box{
background-image: url(/assets/background-image.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

h1 {
  color: blue;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}