#restart {
    color: cyan;
    border: 2px solid black;
    border-radius: 20px;
}


main{
    display: flex;
    gap: 2rem;
}

section{
    display: flex;
}

section div{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mainSelector, .androidSelector{
    display: flex;
    gap: 1rem;

}

.select{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.red{
    background-color: red;

}

.green{
    width: 50px;
    height: 50px;
    background-color: green;
}

.yellow{
    background-color: yellow
}
.blue{

    background-color: blue
}
.orange{

    background-color: orange
}
.pink{
    background-color: pink;
}

.black{
    background-color: black;
}
.grey{
    background-color: grey;
}
.white{
    background-color: whitesmoke;
}
